body {
        font-family: ProximaNova,Arial,sans-serif;

}
.leanin-header {
min-height:400px;
    padding-left:0%;
    padding-right:0%;    border:none;
    padding-top:3%;

 
}


.navbar-default {
    background-color:transparent;
    border-bottom:1px solid white;
    border-radius:0;
}



.navbar {
    margin-left:10%;
    margin-right:10%;
    padding-top:30px;
    padding-bottom:0px;
    border:none;
    background-color:;
}

.navbar li {
    padding-left:10px;
    padding-right:10px;
    font-weight:900;
}
.navbar li:hover
{
    padding-left:10px;
    padding-right:10px;
    font-weight:900;
}

.navbar-default .navbar-nav>li>a {
    color:white;
    padding-bottom:1px;
}
.navbar-default .navbar-nav>li>a:hover {
    color:white;
    border-bottom:2px solid red;
}



.firstwrap {
    background: rgba(209,31,0,0.83);
background: -moz-linear-gradient(-45deg, rgba(209,31,0,0.83) 0%, rgba(184,21,0,0.5) 51%, rgba(184,21,0,0.38) 71%, rgba(189,16,0,0.19) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(209,31,0,0.83)), color-stop(51%, rgba(184,21,0,0.5)), color-stop(71%, rgba(184,21,0,0.38)), color-stop(100%, rgba(189,16,0,0.19)));
background: -webkit-linear-gradient(-45deg, rgba(209,31,0,0.83) 0%, rgba(184,21,0,0.5) 51%, rgba(184,21,0,0.38) 71%, rgba(189,16,0,0.19) 100%);
background: -o-linear-gradient(-45deg, rgba(209,31,0,0.83) 0%, rgba(184,21,0,0.5) 51%, rgba(184,21,0,0.38) 71%, rgba(189,16,0,0.19) 100%);
background: -ms-linear-gradient(-45deg, rgba(209,31,0,0.83) 0%, rgba(184,21,0,0.5) 51%, rgba(184,21,0,0.38) 71%, rgba(189,16,0,0.19) 100%);
background: linear-gradient(135deg, rgba(209,31,0,0.83) 0%, rgba(184,21,0,0.5) 51%, rgba(184,21,0,0.38) 71%, rgba(189,16,0,0.19) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d11f00', endColorstr='#bd1000', GradientType=1 );}

#leanin-header-text {
    width:50%;
        color:white;
    text-align:center;
    margin-right:25%;
    margin-left:25%;

}
#leanin-header-text h1 {
    font-size:65px;
    font-weight:900;
}

#leanin-header-text h4 {
    font-weight:200;
    text-align:center;
    line-height:25px;
    font-size:15px;
    width:80%;
    margin:0 auto;

}


#leanin-header-register {
    text-align:center;
    color:#fff;
    background-color:#ee2e24;
    width:100%;
    padding:10px 0 40px 0;
    margin-top:20px;
    
    
}
#leanin-header-register a{
    text-decoration:none;
    color:#fff;
    
    
}
#leanin-header-register a:hover{
     color:#333; 
    font-weight:400;
    }
#registerbutton {
        padding:10px 80px 10px 80px;
        background-color:transparent;
    border-radius:20px;
    transition-timing-function: ease-in-out;
    border:1px solid white;

}

#registerbutton:hover {
        transition-timing-function: ease-in-out;
    background-color:white;


}
}
.eventdetails h1 {
    
}

.eventdetails h4 {
 font-weight:100;   
}

/* second section */
.aboutus-header {
    text-align:center;
    width:100%;
    margin-top:0px;
   height:400px;
    
}

.headerwithborder {
     padding-bottom:10px;
    border-bottom:2px solid #ee2e24;
    width:20%;
    margin:40px auto;
    text-align:center;
}

.aboutus-header h4{
    font-size:14px;
 font-weight:300;
    width:60%;
    margin:-20px auto;
    line-height:20px;
    color:#333;
}
.pre-reg--numbers-map {
    background-image: url(/img/map.png);
}
.pre-reg--numbers-map {
    padding: 75px 45px 0;
    height: 275px;
    text-align: center;
    background-position: center center;
    background-repeat: no-repeat;
    font-size: 30px;
    line-height: 35px;
}


/* Third SECTION */
.third {
    padding:0 10% 0 10%;
}


.ourpeople {
}
.ourpeople {
 }

.ourpeople .btn {
    width:100%;
}
.ourpeople h3 {
    font-size:13px;
    margin-top:-20px;
    font-weight:200;

    text-align:center;
}
.thumbnail {
 border-radius:100%;
    width:100px;
    height:100px;
    margin:40px auto;
}
.thumbnail:hover {
    border-color:#ee2e24;
    border-width:3px;
}


/* site footer */
.site-footer {
     font-size:10px;
    margin-top: 30px;
    padding-top: 20px;
    background-color: #000;
    color: #fff;
    padding-left:10%;
    padding-right:10%;
    height:300px;
}
.site-footer--logo {
    position: relative;
    padding: 20px 0;
    height: 64px;
    text-align: center;
}
.site-footer--logo:after, .site-footer--logo:before {
    content: ' ';
    display: block;
    position: absolute;
    top: 25px;
    height: 1px;
    width: 380px;
    background: #353535;
}
.site-footer--connect {
    text-align: center;
    line-height: 30px;
    margin-top: 40px;
    padding: 20px 0 20px 150px;
    border: 1px solid #353535;
    border-width: 1px 0;
}

.site-footer ul a {
    color: #818181;
}